@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

:root {
  --iriscolor: #4d5ae5;
  --navyblue: #2e2f42;
  --navcolor: #2e2f42;
  --oceancolor: #404bbf;
  --slate: #434455;
  --whitecolor: white;
  --cloudcolor: #f4f4fd;
  --cornflower: #e7e9fc;
}

.logo-link {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  display: inline-flex;
  height: 24px;
  align-items: center;
  flex-shrink: 0;
}

.logo {
  color: var(--iriscolor);
  font-weight: 800;
  font-size: 18px;
}

.studio {
  color: var(--navyblue);
}

.studio-footer {
  color: var(--whitecolor);
  font-weight: 800;
  font-size: 18px;
}

.nav-menu .page {
  color: var(--navcolor);
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.list {
  list-style-type: none;
}

.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .item:hover,
.contacts-menu .item:focus {
  color: var(--oceancolor);
}

.contacts-menu .item {
  color: var(--slate);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.bg-hero {
  background: var(--navyblue);
}

.hero-title {
  color: var(--whitecolor);
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
  text-align: center;
}

.button {
  cursor: pointer;
  border-color: transparent;
  font-family: inherit;
}

.button.primary {
  background: var(--iriscolor);
  color: var(--whitecolor);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--oceancolor);
}

.button.filter {
  background-color: var(--cornflower);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}

.button.filter:hover,
.button.filter:focus,
.button.filter.current {
  background-color: var(--oceancolor);
  color: var(--whitecolor);
}

.title {
  color: var(--navyblue);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}
.description {
  color: var(--slate);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.bg-team {
  background: var(--cloudcolor);
}

.section-title {
  text-align: center;
  color: var(--navyblue);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.name {
  color: var(--navyblue);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.position {
  color: var(--slate);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.bg-footer {
  background: var(--navyblue);
}

.footer-description {
  color: var(--whitecolor);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.projects {
  list-style-type: none;
  text-decoration: none;
}

.project {
  text-decoration: none;
}

.project {
  color: var(--navyblue);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.type {
  color: var(--slate);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
